.our-work#work
    h2.title.title--work
        span.small Latest Projects
        span.big My
            strong Work
    .work
        -var data = ['all', 'branding', 'photoshop', 'illustrator'];
        -var classes = ['branding', 'photoshop', 'branding', 'illustrator', 'photoshop'];
        -var text = ['All', 'Branding', 'Photoshop', 'Illustrator'];
        .button-group.filters-button-group
            -for(let i = 0;i < data.length;i++)
                if i=== 0
                    button(class="button is-checked" data-filter=`${data[i]}`)= text[i]
                else
                    button(class="button" data-filter=`.${data[i]}`)= text[i]
        .grid
            -for(let j = 0;j < classes.length;j++)
                -var randClass = ~~(Math.random() * classes.length)
                if j === classes.length -1
                    div(class= `grid__item mix illustrator}`)
                        .grid__details
                            h2.grid__title Project Name
                            h3.grid__project= classes[randClass]
                else
                    div(class= `grid__item mix ${classes[randClass]}`)
                        .grid__details
                            h2.grid__title Project Name
                            h3.grid__project= classes[randClass]